In [34]:
year = 2018
this_week = 1
next_week = this_week+1
this_week_path = 'week'+str(this_week)+'.csv'
next_week_path = 'week'+str(next_week)+'.csv'
import os
this_week_path = os.path.join('./data_v2/weekly/',str(year),str(this_week_path))
next_week_path = os.path.join('./data_v2/weekly/',str(year),str(next_week_path))

In [35]:
import pandas as pd
df_curr = pd.read_csv(this_week_path)
df_next = pd.read_csv(next_week_path)

In [36]:
df_curr.head()

,Player,Pos,Tm,PassingYds,PassingTD,Int,PassingAtt,Cmp,RushingAtt,RushingYds,RushingTD,Rec,Tgt,ReceivingYds,ReceivingTD,FL,PPRFantasyPoints,StandardFantasyPoints,HalfPPRFantasyPoints
0,Ryan Fitzpatrick,QB,TAM,417.0,4.0,0.0,28.0,21.0,12.0,36.0,1.0,0.0,0.0,0.0,0.0,0.0,42.28,42.28,42.28
1,Aaron Rodgers,QB,GNB,286.0,3.0,0.0,30.0,20.0,1.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,24.94,24.94,24.94
2,Drew Brees,QB,NOR,439.0,3.0,0.0,45.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.56,29.56,29.56
3,Patrick Mahomes,QB,KAN,256.0,4.0,0.0,27.0,15.0,5.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,28.34,28.34,28.34
4,Joe Flacco,QB,BAL,236.0,3.0,0.0,34.0,25.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,21.74,21.74,21.74

# Setup Data Frame

Going to use next weeks fantasy points as the predictor of this weeks data

In [54]:
df_next.head()

             Player  PPRFantasyPoints
0       Kevin Byard              6.64
1   Patrick Mahomes             38.84
2  Ryan Fitzpatrick             29.98
3     Philip Rivers             22.74
4    Ryan Tannehill             17.12

In [56]:
df_next = df_next[['Player','PPRFantasyPoints']]
df_next.rename(columns={'PPRFantasyPoints':'next_week_points'},inplace=True)

In [57]:
df_next.head()

             Player  next_week_points
0       Kevin Byard              6.64
1   Patrick Mahomes             38.84
2  Ryan Fitzpatrick             29.98
3     Philip Rivers             22.74
4    Ryan Tannehill             17.12

In [58]:
test = df_curr.merge(df_next,how='left',on='Player')

In [59]:
test

,Player,Pos,Tm,PassingYds,PassingTD,Int,PassingAtt,Cmp,RushingAtt,RushingYds,RushingTD,Rec,Tgt,ReceivingYds,ReceivingTD,FL,PPRFantasyPoints,StandardFantasyPoints,HalfPPRFantasyPoints,next_week_points
0,Ryan Fitzpatrick,QB,TAM,417.0,4.0,0.0,28.0,21.0,12.0,36.0,1.0,0.0,0.0,0.0,0.0,0.0,42.28,42.28,42.28,29.98
1,Aaron Rodgers,QB,GNB,286.0,3.0,0.0,30.0,20.0,1.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,24.94,24.94,24.94,16.04
2,Drew Brees,QB,NOR,439.0,3.0,0.0,45.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.56,29.56,29.56,17.62
3,Patrick Mahomes,QB,KAN,256.0,4.0,0.0,27.0,15.0,5.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,28.34,28.34,28.34,38.84
4,Joe Flacco,QB,BAL,236.0,3.0,0.0,34.0,25.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,21.74,21.74,21.74,17.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Tre Sullivan,S,PHI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-2.00,-2.00,-2.00,NaN
288,Riley McCarron,WR,NWE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-2.00,-2.00,-2.00,NaN
289,Kaelin Clay,WR,NYG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-2.00,-2.00,-2.00,NaN
290,JJ Jones,WR,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-2.00,-2.00,-2.00,0.00
291,Janarion Grant,WR,BAL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00

# DFA